@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>
        <a asp-controller="HomeController" asp-action="Index"><span>Home</span></a>
    </li>
    <li>
        @Html.ActionLink("ReeksPage","Index")
    </li>
    <li>
        <a asp-controller="TekstenController" asp-action="Index">Teksten</a>
    </li>
</ul>