@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>
        <a href="../Home">Homepage</a>
    </li>
    <li>
       <a href="../Teksten">Teksten</a>
    </li>
    <li>
        <a href="../Reeksen">Reeksen</a>
    </li>
</ul>